#root {
  /* https://grabient.com/HQVg7AnANKAMCMMQGYAcSAsYZgGyxlwCZFgTthldkZ4JsCjhYIMoNh5UIg?angle=135 */

background: linear-gradient(135deg, #0F1E29 0.000%, #0F1E29 50.000%, #0F1E29 100.000%);
height: 150vh;
}


.logo-style {
  width: 80px; /* İstədiyin ölçü */
  height: auto;
  display: block;
  
  /* Əsas animasiya */
  animation: neon-glow 2s infinite ease-in-out;
}

@keyframes neon-glow {
  0%, 100% {
    /* Logonun öz formasına görə kölgə verir */
    filter: drop-shadow(0 0 5px #00d2ff) drop-shadow(0 0 10px #00d2ff);
    transform: scale(1);
  }
  50% {
    /* Yanıb-sönmə anında işığı artırırıq */
    filter: drop-shadow(0 0 15px #00d2ff) drop-shadow(0 0 25px #3a7bd5);
    transform: scale(1.08); /* Bir az böyümə effekti */
  }
}